body{
    background-color: black;
}
.titulo{
    color:green;
    text-align: center;
    margin: 0;
}
.museums{
    color: red;
    text-align: center;
    font-weight: bold;
}
span{
    margin: 1vw;
}
.calendario{
    background-color: white;
    border: 1px solid;
    margin: 0.75vw;
    padding: 2vw;
}
.calendario:first-of-type{
    margin-bottom: 1.5vw;
}/*
h1{
    font-size: 3vw;
    width: 50vw;
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin: auto;
    margin-bottom: 0.1vw;
}*/
#noviembre{
    background-color: red;
    width: 50vw;
}
#diciembre{
    background-color: gray;
    color: white;
    letter-spacing: 1vw;
    text-transform: uppercase;
    width: 64.96vw;
}
table{
    margin: auto;
    table-layout: fixed;
}
tr{
    font-size: 2vw;
    text-align: center;
    padding: 0px;
}
.row1 *{
    width: 5vw;
    height: 5vw;
}
.row2 *{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 4.5vw;
    vertical-align: middle;
}
#uno{
    font-size: 1.5vw;
}
.coloreado1{
    background-color: red;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.coloreado2{
    background-color: gray;
    border-right: 1px solid;
    border-color: white;
}
.vacio{
    border-color:gray;
}
.vacio2{
    border-left: 1px solid;
    border-color:white;
}