$myFont: Helvetica, sand-serif;
$myColor: darkblue;
$bgcolor: lightblue;
$myFontSize: 18px;
$myWidth: 680px;
$myBorder: 1px red double;
body{
    background-color: $bgcolor;
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}
#container{
    width: $myWidth;
    border: $myBorder;
}