h1{
    color: red;
}
p{
    background-color: red;
    color: purple;
}
header{
    background-color:#d3d3d3;
    background-image:url('./assets/img/Sin título-2024-09-26-1537.png');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed
}